*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
header{
  background-image: linear-gradient(120deg, #0a72ad 0%, #9ed7f8 100%);
    color: white;
    min-height: 6vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;   
}

h1{
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 1%;
}

h2{
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 1%;
} 

p{
  font-size: 1em;
  padding-bottom: 5%;
}
#Title{
  font-size: 1.2em;
  position: relative;
  font-weight: 700;
  font-family: 'Fjalla One', sans-serif;
  
}

nav {
    text-align: left;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: -90vw;
    padding: 20px;
    transition: left 0.4s;
    
  }

  
  nav #menuButton {
    font-size: 4vh;
    position: fixed;
    left: 90%;
    top:1vh;
    color: #0b4666;
    transition: color 0.6s, background-color 0.6s;
    justify-content: flex-end;
  }

  #menuButton:hover{
    color: #205470;
  }
  
  .SideMenuLink {
    padding: 4%;
  }
  
  .SideMenuLink a {
    font-size: 1em;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  .SideMenuLink a:hover {
  color: white;
  }
  
  nav.active {
    font-weight: 700;
    left: 0vw;
    background-color: rgba(2, 15, 73, 0.8);
  }
  
  nav.active #menuButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  
  nav.active #menuButton:hover {
    color: #7dbee0;
    
  }
  
  nav.active .SideMenuLink a:hover {
    color: #7dbee0;
    
  }

  main{
      background-color: hsl(0, 0%, 100%);
      margin: auto;
      padding: 2vh 8vw;
  }

  footer{
    background-image: linear-gradient(120deg, #0a72ad 0%, #9ed7f8 100%);
    color: white;
    min-height: 10vh;
    align-items: center;
    padding: 2vh 8vw;
  
    
  }
.intro{
  background-color: rgb(67, 79, 148);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  background-color: #cc7e4a;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.intro-text{
  color: #f8bf98;
  font-size: 2rem;
  padding: 0 5vw;
}

.hide{
  background: rgb(67, 79, 148);
  overflow: hidden;
}

.hide span{
  transform: translateY(100%);
  display: inline-block;
}


#About{
  align-items: center;
  margin: auto;
}
#About div{
  margin: 2% 0%;
}
#About img{
  width: 80%;
  margin: 2% 10%;
}

.Background{
  margin: auto;
  padding: 1vw 7vw;
  background-color: rgba(67, 79, 148);
  color: white;
  align-items: center;
}

.Background a{
  color:hsl(199, 100%, 82%)
}

.Twitter{
  width: 80%;
  height: 50vh;
  overflow: scroll;
  margin: 5% auto;
}

.links{
  margin: auto;
  text-align: center;
  
}

.links a{
  color: rgba(67, 79, 148);
  transition: 0.3s;
}

.links a:hover{
 color: #cc7e4a
}

.support img{
  width: 70%;
  margin-left: 15%;
}


.Content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;

}

.Content .Posts{
  width: 80%;
}

.Posts img{
  width: 100%;
  padding-bottom: 5vh;
}

.Survey{
  width: 100%;
  margin: auto;
  height: 70vh;
  overflow: scroll;
}

.fa {
  padding: 5%;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  margin: 4% 4% 4% 4%;
  border-radius: 50%;
  color: rgba(67, 79, 148);
  background-color: #ffffff;
}






  
  @media screen and (min-width: 700px) {
    #menuButton {
      display: none;
    }
    nav.active {
      background-color: transparent;
    }

    header{
      grid-template-columns: 1fr 1fr;
    }

  nav{
    width: auto;
  }

    #Menu {
      position: relative;
      height: auto;
      left: 0;
      display: flex;
      padding: 0;
      justify-content: flex-end;
      align-items: center;
    }
  
    .SideMenuLink a {
        color: #03273b;
        font-size: 1.1em;
    }

    .intro-text{
      color: #f8bf98;
      font-size: 2.5rem;
    }

    h1{
      font-size: 1.4em;
      font-weight: 600;
    }
    
    h2{
      font-size: 1.2em;
      font-weight: 600;
    }
    
    p{
      font-size: 1em;
      padding-bottom: 2%;
    }
    #Title{
      font-size: 1.5em;
      font-weight: 700;

    }

    main, #SocialMedia, .Background{
      padding: 1vw 10vw;
  }  
  #About{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro intro "
                          "CMHW CMHWLogo"
                          "Why Adhar";
    align-items: center;
  }

  
  

  #SocialMedia{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


.support{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "Support Support "
  "Place2Be Place2BeLogo"
  "YoungMinds YoungMindsLogo"
  "Childline ChildlineLogo"
  "NHS NHSLogo";
  align-items: center;
}

.support a{
  width: 90%;
  margin: auto;
}

.Content .Posts{
  width: 40%;
}



}
  


  




  @media screen and (min-width: 1200px) {

    h1{
      font-size: 2.2em;
      font-weight: 600;
    }
    
    h2{
      font-size: 1.7em;
      font-weight: 600;
    }
    
    p{
      font-size: 1.4em;
    }
    #Title{
      font-size: 2.7em;
      font-weight: 700;
      padding-left: 2vw;
    }
    
    .SideMenuLink a {
      font-size: 1.5em;
    }

    header{
      grid-template-columns: 1fr 1fr;

    }

    main, #SocialMedia, .Background{
      padding: 1vw 15vw;
  }

  #About{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "intro intro intro intro"
                          "CMHW CMHW CMHW CMHWLogo"
                          "Why Why Why Adhar";
    align-items: center;
  }

  #SocialMedia{
    grid-template-columns: 1fr 1fr;
  
  }
  .Content .Posts{
    width: 30%;
  }

  
  }