 @import url("https://use.typekit.net/rwg4trk.css");
h1{
  font-family: bebas-neue, sans-serif;

font-weight: 400;

font-style: normal;
    font-size: 4vw;
}

h2{
  font-family: bebas-neue, sans-serif;

font-weight: 400;

font-style: normal;
    font-size: 3vw;
}
p{
  font-family: Bookman Old Style;
  font-size: 2vw;

}

#QuizContainer {
  height: auto;
  width: 70%;
  height: auto;
  margin: auto;
  font-family:bebas-neue, sans-serif;;
  color: #F29222;
  border: 0.5vw solid #333349;
  text-align: center;
  font-size: 3vw;
  background-color: white;
}



.container{
height: 100%;
margin: auto;
text-align: center;
width: 90%;
margin-top: 0;
}

h1{
  background-color: #333349;
  margin-top: 0;
}

h2{
  font-size: 4vw;
}
p{
  font-size: 2.5vw;
  color: black;
}




}
.Quiz h1{
  border: 1vw solid #333349;
  background-color: #333349;
  text-align: center;
}

#QuizOptions{
    font-family: Bookman Old Style;
    font-size: 2.5vw;
    color: white;
    display: flex;
    flex-wrap: wrap;

}
#QuizQuestions{
  font-family: Bookman Old Style;
  color: black;
  font-size: 2.5vw;
}

#Button0, #Button1, #Button2, #Button3{
  background-color: #333349;
  color: white;
  font-size: 2.5vw;
  border: 0.2vw solid black;
  border-radius: 1vw;
  width: 33%;
  margin: 1vw;
  padding: 1vh;
  font-family: Bookman Old Style;
  box-shadow: 1px 1px 3px black;

}

#Button0:hover, #Button1:hover, #Button2:hover, #Button3:hover{
  background-color: #F29222;
  transition: 0.3s;
  color: black;
  transform: scale(1.03);
  box-shadow: 2px 2px 5px #333349;
}

.QuizOptions{
  margin: auto;
  font-size: 5vw;

}


#QuestionNumber{
  color: black;
  font-size: 3vw;


}


button{
  background-color: #333349;
  color: white;
  font-size: 3.2vw;
  border: 0.2vw solid black;
  border-radius: 1vw;
  width: 50%;
  margin: 1vw;
  padding: 1vh;
  box-shadow: 1px 1px 3px black;
  font-family:bebas-neue, sans-serif;;
}

button:hover{
  background-color: #F29222;
  transition: 0.3s;
  color: black;
  transform: scale(1.03);
  box-shadow: 2px 2px 5px #333349;
}

.Images{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

img{
  margin: auto;
  width: 48%
}


.DiscoveryImage{
  width: 50%;
}
.StyledParagraph{
  width: 48%;
}

/*small screen - phone */
@media screen and (max-width: 600px) {
img, .DiscoveryImage{
  width: 80%;
}

.StyledParagraph{
  width:100%;
}

.Images{
  justify-content: center;
  padding: 0;
}

}

/*large screen - laptpop or desktop */

@media screen and (min-width: 1100px) {
img{
  width: 25%;
}



}
